<p id="notice"><%= notice %></p>

<p>
  <strong>Athlete name:</strong>
  <%= @athlete.athlete_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @athlete.gender %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @athlete.class_year %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @athlete.sports_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @athlete.team_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @athlete.position %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
