<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule_date %>
    <%= form.datetime_select :schedule_date, id: :schedule_schedule_date %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id, id: :schedule_location_id %>
  </div>

  <div class="field">
    <%= form.label :schedule_type %>
    <%= form.text_field :schedule_type, id: :schedule_schedule_type %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :schedule_score %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id, id: :schedule_team_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
